html {
    background-color: #e6e9e9;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #545454;
    background-color: #ffffff;
}

ol {
    color: #ba6c6c;
}

li > div {
    color: #b2a8a8;
}

* [atributas = "yra"]{
    color: #21b2ac;
}

.klase {
    border: 1px solid violet;
}

#identifikatorius{
    border: 1px solid #7cb0f7;
}

div {
    background-color: #e6e6e6;
}

span {
    background-color: yellow;
}
div > span {
    background-color: inherit;
}
/*Lentele*/
table {
    border: 2px solid pink;
}
td {
    border: 2px solid yellow;
}
table >tbody> tr:first-child >td {
    background-color: red;

}
#makeitGrey{
     background-color: grey;
}
.makeItRed{
    background-color: yellow !important;
}
.makeItRed{
    background-color: red ;
}
.makeItGreen {
    background-color: blue;
}

b{
    color:  #ff0404;
} 

h1, h2, h3, h4, h5, h6,a {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}
p > b {
   
    border:  5px solid  #018080;
    color: #545454
}

h2 {
    margin-top: 1.3em;
}

